@charset "UTF-8";

/* div {
	background-color: fuchsia;
	height: 100px;	
} */

/* 타원형 */
.btn {
	width:120px;
	height: 40px;
	color:#fff;
	background-color: #004fff;
	font-size: 16px;
	border: none;
	border-radius: 40px;
	box-shadow: 0 4px 16px rgba(0,79,255,0.3);
}

/* 원형 */
.btn1 {
	width: 100px;
	height: 100px;
	background-color: red;
	border: rgb(255, 128, 128) 5px solid;
	border-radius: 50px;
	color: #330000;
	
	
}

/* 말풍선 */
.btn2 {
	position:relative;
	margin: 20px;
	width:100px;
	height:50px;
	background:#333333;
	border-radius: 10px;
}
.btn2:after {
	 border-top:15px solid #333333;
	 border-left: 15px solid transparent;
	 border-right: 0px solid transparent;
	 border-bottom: 0px solid transparent;
	 content:"";
	 position:absolute;
	 top:10px;
	 left:-15px;
}
#circle {
	display: block;
	width: 60px;
	height: 40px;
	margin: auto;
	text-decoration: none;
	color: white;
	line-height: 40px;
}


/* 그라데이션 */
.btn3 {
   width: 120px;
   height: 40px;
   background: linear-gradient(to right, red, #ff9999, #ffcccc);
   border-radius: 7px;
   border: none;
}

/* 마름모 모양 */
.btn4 {
   width: 0;
   height: 0;
   border: 50px solid transparent;
   border-bottom: 60px solid green;
   position: relative;
   top: -50px;
}
.btn4:after {
   content: '';
   position: absolute;
   left: -50px;
   top: 60px;
   width: 0;
   height: 0;
   border: 50px solid transparent;
   border-top: 60px solid green;
}

